<li>
  <h3 class="title"><%= booking.property.title %></h3>

  <table width="100%">
    <tr width="100%">
      <td width="50%">
        <span>
          <table>
            <tr>
              <td valign="top"><b>Address</b></td>
              <td><span><%= booking.property.addr1 %><br/><%= booking.property.addr2 %><br/><%= booking.property.city %><br/><%= booking.property.state %></span></td>
            </tr>
            <tr>
              <td><b>Number of people</b></td>
              <td><span><%= booking.count %></span></td>
            </tr>
            <tr>
              <td><b>Property type</b></td>
              <td><span><%= booking.property.prop_type %></span></td>
            </tr>
            <tr>
              <td><b>Rate per night</b></td>
              <td><span><%= booking.property.rate %></span></td>
            </tr>
            <tr>
              <td><b>Starting Date</b></td>
              <td><span><%= Date.strptime(booking.book_from.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%d/%m/%Y") %></span></td>
            </tr>
            <tr>
              <td><b>Closing Date</b></td>
              <td><span><%= Date.strptime( booking.book_till.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%d/%m/%Y") %></span></td>
            </tr>
            <tr>
              <td><b>Owner's Email id</b></td>
              <td><span><%= booking.property.user.email %></span></td>
            </tr>
          </table>
        </span>
      </td>
      <td width="30%">
        <% if booking.property.image? %>
          <%= image_tag booking.property.image.url(:medium) %>
        <% end %>
      </td>
      <td width="20%">
        <button class="btn btn-mini pull-right"><i class="icon-time"></i><%= link_to "Book it again!", new_property_booking_path(:property_id => booking.property.id) %></button>
        <br/><br/><br/>
        <button class="btn btn-mini pull-right"><i class="icon-edit"></i><%= link_to "Edit booking", edit_booking_path(:id => booking.id.to_i) %></button>
        <br/><br/><br/>
        <button class="btn btn-mini pull-right"><i class="icon-remove-sign"></i><%= link_to "Unbook property", booking, method: :delete, data: { confirm: "You sure?" } %></button>
      </td>
    </tr>
  </table>
  
</li>
