<script>
    function comp(start,end)
    {
        var from = String(start).split("-");
        var to = String(end).split("-");

        if( from[0] > to[0] )
        {
          return false;
        }
        else if( (from[0]==to[0]) && (from[1] > to[1]) )
        {
          return false;
        }
        else if( (from[0]==to[0]) && (from[1] == to[1]) && (from[2] > to[2]) )
        {
          return false;
        }
        else
        {
          return true;
        }
    }
    function check_date()
    {
      if(document.getElementById("booking_count").value=="")
      {
        document.getElementById("count_needed").style.display = "block";
        return false;
      }
      else
      {
        var prop_type = "<%= @booking.property.prop_type %>";
        var c = parseInt(document.getElementById("booking_count").value);

        switch(prop_type)
        {
          case "Room" : if(c > 2)
                        {
                         document.getElementById("count_limit").innerHTML="Maximum number of people should be 2";
                         return false;
                        }
                        break;
          case "Apartment" : if(c > 5)
                             {
                              document.getElementById("count_limit").innerHTML="Maximum number of people should be 5";
                              return false;
                             }
                             break; 
          case "House" : if(c > 10)
                         {
                           document.getElementById("count_limit").innerHTML = "Maximum number of people should be 10";
                           return false;
                         }
                         break; 
          default :           document.getElementById("count_limit").innerHTML = "";
                              break; 
        }

        document.getElementById("count_needed").style.display = "none";
      }
      
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        if( (start!='') && (end!='') && (comp(start,end)==false) )
        {
            alert("'To' date should be later than 'From' date");
            return false;
        }

        var prop_start = '<%= @booking.property.avail_start %>';
        var prop_from = prop_start.split(" ")[0];
        var prop_end = '<%= @booking.property.avail_end %>';
        var prop_to = prop_end.split(" ")[0];

        if( (inRange(start,prop_from,prop_to)==true) && (inRange(end,prop_from,prop_to)==true) )
        {
           document.getElementById("booking_book_from").value = document.getElementById("start").value;
           document.getElementById("booking_book_till").value = document.getElementById("end").value;
           document.getElementsByClassName("edit_booking")[0].submit();
        }
        else
        {
          alert("The property is not available in the requested date");
          return false;
        }
    }

    function inRange(val,first,last)
    {
      if( (comp(first,val)==true) && (comp(val,last)==true) )
      {
        return true;
      }

      return false;
    }

    $(document).ready(function(){
        $("#start").val($("#booking_book_from").val().split(" ")[0]);
        $("#end").val($("#booking_book_till").val().split(" ")[0]);

        $("#start").blur(function(){
            $("#end").removeAttr('min');
            $("#end").attr('min',$("#start").val());
        });

        $("#end").blur(function(){
            $("#end").removeAttr('max');
            $("#start").attr('max',$("#end").val());
        });

    });

</script>

<% provide(:title, 'Edit Booking') %>
<h1>Edit Booking</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@booking) do |f| %>
      <%= render 'layouts/error_messages' , :target => @booking %>

      <%= f.label :from %>
      <input type="date" name="from" id="start" />
      <%= f.hidden_field :book_from %>

      <%= f.label :to %>
      <input type="date" name="to" id="end" />
      <%= f.hidden_field :book_till %>

      <%= f.label :number_of_people %>
      <%= f.text_field :count %>
      <label id="count_needed" style="color:red;display:none" >Number of people should not be left blank</label>
      <label id="count_limit" style="color:red;" ></label>

    <% end %>
      <button class="btn btn-large btn-primary" onclick="check_date()" >Update Booking</button>
  </div>
</div>
